 @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
/*href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"*/

.info li{
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	
}

.info {
	/* list-style: none; */
	/* border: 1px solid red;	 */
	/* margin: 40px 0 5px; */
	/* padding: 25px 0 5px; */
	color: #ffffff;
	text-align: center;	
	background: rgb(87, 186, 243);
}

.zagolovok {	
	list-style: none;
	box-align: left;
	color:#606060;
	/* display: inline-block; */
	/* border: 1px solid red;	 */
	text-align: center;
	padding: 10px;	
	margin: 10px;
	margin-top: 50px;
	/* margin-left: 100px; */
	font-size: 25px;
}

.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: rgb(143, 32, 32)52, 49, 49);
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

body {
	font-size: 18px;
	/* background-image: url(img/img.jpg); */
	/* color: aliceblue; */
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	/* display: flex; */
}

.block_head {
	font-size: 20px;
	font-weight: 600;
}

.ddiv2 {
	margin: 10px;
	display: inline-block;	
}
.ddiv {	
	/* -webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out; */
	
	transition: 0.3s all;
	/* opacity: 0.8;	 */	
	/* display: inherit; */
	display: inline-block;
	margin: 15px;
	padding: 15px;
	width: 20%;
	border: 1px solid rgb(117, 200, 226);
	/* background-color: bisque; */
	border-radius: 20px;
	box-shadow : 0 0 3px black;	
}
/* box-shadow: 0 0 10px rgba(0,0,0,1); */

@keyframes border-shadow {
	0% {box-shadow : 0 0 3px black;}
	100% {box-shadow: 0 0 30px black;}
	/* 100% {box-shadow: 0 0 50px black;} */
	}

@keyframes shadow {
	from {text-shadow: 0 0 3px black;}
	50% {text-shadow: 0 0 30px black;}
	to {text-shadow: 0 0 3px black;}
	}

	@keyframes rank{ 
		0%{ left:30px; background:#ffffff;}
		25% {left:50px; background:#ffe9ac;}
		50% {left:70px; background:#ffd45f;}
		75% {left:90px; background:#ffc934;}
		100%{ left:30px; background:#ffbb00;} 
	}
p {font-size: 22px;
	/* padding: 5px; */
	/* margin: 0px; */
  }
 a {text-decoration: none;
	color: #1470ad;
	transition: 0.4s all;
}


 a:visited {color: #1470ad;}

 li {
	transition: 0.4s all;	
	padding: 2px;	
	font-size: 18px;
	}	

li:hover {
		transform: scale(1.1);
		/* color: rgb(3, 6, 8); */
		/* font-size: 25px; */
		/* text-shadow: 1px 1px 10px black;	 */
		/* text-decoration: underline;			 */
	}


.ddiv:hover {
	box-shadow : 0 0 3px black, 
	2px 2px 10px black, 3px 3px 30px black, 
	4px 4px 30px black, 5px 5px 30px black;
background-color: rgb(227, 250, 250);

	/* text-shadow: 0 0 20px black; */
	/* transform: rotate(45deg) scale(0.3); */
	/* opacity: 1; */
	/* transform: scale(1.1); */
/* animation: border-shadow 0.5s 1 both;	 */
	/* animation: shadow 2s infinite linear, rank 1s 1 both; */	
	/* animation-duration: 2s; */
	/* animation: move 2s; */
	/* animation-iteration-count: 0;	 */	
}